<div class="list-items-container">
    <button mat-raised-button class="add-item-btn" (click)="onAddItem()">Add Item</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="sequenceNumber">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" class="item-name" (click)="getItemDetails(element.id)"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Creation Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>
      
        <ng-container matColumnDef="editedAt">
          <th mat-header-cell *matHeaderCellDef> Editing Date </th>
          <td mat-cell *matCellDef="let element"> {{element.editedAt}} </td>
        </ng-container>

        <ng-container matColumnDef="editDelete">
            <th mat-header-cell *matHeaderCellDef class="buttons-col"></th>
            <td mat-cell *matCellDef="let element" class="buttons-col">
                <button mat-raised-button (click)="onEditItem(element)">Edit</button>
                <button mat-raised-button (click)="onDeleteItem()">Delete</button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
  
  