.list-items-container {
    padding: 32px;

    .add-item-btn {
        width: 100px;
        margin-bottom: 16px;
    }
    
    table {
        width: calc(100%);
        .buttons-col {
            width: 224px;

            button {
                width: 100px;
                margin-top: 8px;
                margin-bottom: 8px;

                &:last-child {
                    margin-left: 20px;
                }
            }
        }
    }
}
