<div class="item-details-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Item details</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list role="list" class="item-details">
                <mat-list-item role="listitem">
                    <label class="label">ID:</label>
                    <span class="text">{{item.id}}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <label class="label">NAME:</label>
                    <span class="text">{{item.name}}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <label class="label">DESCRIPTION:</label>
                    <span class="text">{{item.description}}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <label class="label">CREATED DATE:</label>
                    <span class="text">{{item.createdAt}}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <label class="label">LAST MODIFICATION:</label>
                    <span class="text">{{item.editedAt}}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-raised-button (click)="onEditItem()">Edit</button>
            <button mat-raised-button (click)="onDeleteItem()">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>
